[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.6"
openai = "==1.58.1"
uvicorn = "==0.34.0"
numpy = "==2.2.0"
opencv-python = "==4.10.0.84"
python-dotenv = "==1.0.1"
python-multipart = "==0.0.20"
auto-subtitle = "==1.0.1"
[dev-packages]

[requires]
python_version = "3.11"
